:root {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    --bg-color: hsl(110, 25%, 25%);
    --accent-color: hsl(340, 100%, 25%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: hsl(0, 0%, 90%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh + 64px);
    display: flex;
    flex-direction: column;
}

.nav {
    background-color: var(--bg-color);
    border-bottom: 2px black solid;
    display: flex;
    justify-content: center;
}

button {
    color: white;
    background-color: var(--accent-color);
    appearance: none;
    font-size: 1.5rem;
    border: none;
    padding: 10px 40px;
}

button:not(.selected):hover {
    background-color: hsl(from var(--accent-color) h s calc(l + 10));
}

.selected {
    color: black;
    background-color: white;
}

#footer {
    text-align: center;
    padding: 20px;
    background-color: var(--bg-color);
}

#footer a {
    color: hsl(220, 100%, 65%);
}

#footer a:visited {
    color: hsl(220, 100%, 55%);
}

#content {
    background-color: #0009;
    width: 1000px;
    padding: 40px 300px;
    flex: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section {
    display: flex;
    flex-direction: column;
}

.section h1,
.section h2 {
    color: hsl(from var(--bg-color) h 80 60);
}

.section h1 {
    font-size: 3rem;
    text-align: center;
}

.section h2 {
    font-size: 1.75rem;
}

.section p {
    color: hsl(0, 0%, 95%);
}

.review h2 {
    text-align: right;
}

.review p:first-child {
    margin-bottom: 20px;
}